html,body {
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
	font-family: "Tahoma", Roboto, Times;
	line-height: 135%;
	}
	
	h1,h2,h3,h4,h5,h6 {
		color: #cc0000;
	}
	
	a{
		color: inherit;
		text-decoration: none;
	}
	
	/*navigation menu*/
	
	nav{
        z-index: +10;
		display: block;
		height:20px;
		position:fixed;
        top: 0;
        left:0;
        right:0;
		border-bottom: 2px solid white;
		color: #cc0000;
		font-weight: bold;
		background-color: black;
        min-width:inherit;
        text-align:center;
		padding: 7px;
		margin-left: 0px;
		margin-right: 0px;
		opacity: 0.75;
	}
	
	nav a {
		padding-left: 15px;
		padding-right: 15px;
		color: white;
    }

	
	/*main page elements*/

	div.left { 
		float: left;
		height: 100%;
		width: 100%;
		text-align: left;
		background-image: url(/img/apply.png);
		background-size:100% 100%;
		background-repeat: no-repeat;
	}

	
	div.right {
		float: right;
		height: 100%;
		width: 100%;
		text-align: left;	
	}
	

	#apply{
		margin-top: 20%;
		margin-left: 7%;
		margin-right: 3%;
		margin-bottom: 7%;
	}
	
	#form {
		padding-top: 33px;
	}
	
	.footer {
	    z-index: +11;
		display: block;
		height:20px;
		position:fixed;
        bottom: 0;
        left:0;
        right:0;
		border-top: 2px solid white;
		color: #cc0000;
		font-weight: bold;
		background-color: black;
        min-width:inherit;
        text-align:center;
		padding: 7px;
		margin-left: 0px;
		margin-right: 0px;
		opacity: 0.75;
	}
	
	.footer a {
        padding-left: 15px;
		padding-right: 15px;
		color: white;
    }