
html,body {
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
	font-family: "Tahoma", Roboto, Times;
	line-height: 135%;
	background-image: url(/img/backg.png);
	background-size:100% 100%;
	background-repeat: no-repeat;
	}
	
	h1,h2,h3,h4,h5,h6 {
		color: #cc0000;
	}
	
	a {
		color: inherit;
		text-decoration: none;
	}
	
	/*navigation menu*/
	
	nav {
        z-index: +10;
		display: block;
		height:20px;
		position:fixed;
        top: 0;
        left:0;
        right:0;
		border-bottom: 2px solid white;
		color: #cc0000;
		font-weight: bold;
		background-color: black;
        min-width:inherit;
        text-align:center;
		padding: 7px;
		margin-left: 0px;
		margin-right: 0px;
		opacity: 0.75;
	}
	
	
	nav a {
		padding-left: 15px;
		padding-right: 15px;
		color: white;
    }

	
	/*main page elements*/

	div.left { 
		float: left;
		height: 100%;
		width: 100%;
		text-align: left;
	}
	
	div.center {
		display: inline-block;
		height: 100%;
		width: 100%;
		text-align: left;
	}
	
	div.right {
		float: right;
		height: 100%;
		width: 100%;
		text-align: left;	
	}
	
	#welcome {
		margin-top: 12%;
		margin-left: 7%;
		margin-right: 3%;
	}
	
	#form {
		padding-top: 33px;
	}
	
	#about {
		margin-top: 15%;
		margin-left: 11%;
		margin-right: 3%;
	}
	
	#sponsors {
		margin-top: 30%;
		text-align: center;
	}

	#tba{
		color: white;
		background: #cc0000;
		margin-top: 15%;
		margin-left: 3%;
		padding:3px;
		letter-spacing:1px;
		opacity: 0.85;
	}
	
	.footer {
	    z-index: +11;
		display: block;
		height:20px;
		position:fixed;
        bottom: 0;
        left:0;
        right:0;
		border-top: 2px solid white;
		color: #cc0000;
		font-weight: bold;
		background-color: black;
        min-width:inherit;
        text-align:center;
		padding: 7px;
		margin-left: 0px;
		margin-right: 0px;
		opacity: 0.75;
	}
	
	.footer a {
        padding-left: 15px;
		padding-right: 15px;
		color: white;
    }